.background {
  width: 1000px;
  height: 95vh;
  margin: 20px auto;
  background-color: white;
  box-shadow: 5px 5px 2px #b7b7b7;
  display: flex;
  flex-flow: column wrap;
}

.title {
  margin: 10px;
  border-bottom: 1px solid #b7b7b7;
}

.box2 {
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 90%;
  margin: auto;
  width: 95%;
}

.box3 {
  border: 1px solid blue;
  display: flex;
  flex-flow: row wrap;
  width: 45%;
}

.box4 {
  border: 1px solid green;
  display: flex;
  flex-flow: row wrap;
}